<div class="spl-map-editor">
    <div class="setting-button">
        <i class="fa fa-map-marker"></i>
    </div>
    <div class="settings hide">
        <div>
            <button class="btn btn-default add">Добавить зону</button>
        </div>
    </div>

    <div class="addtype hide">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a class="type" href="#">Рассчитать</a></li>
            <li><a class="type full-list" href="#">Выбрать</a></li>
        </ul>
    </div>
</div>
<div class="map-editor-add hide">
    <table class="table-bordered table-responsive">
        <tr>
            <td>Координаты установки</td>
            <td align="center">
                <input type="text" class="form-control centerx" disabled/>&nbsp;<input type="text" class="form-control centery" disabled/>
            </td>
            <td><i class="fa fa-unlock spl-icon lock"></i></td>
        </tr>
        <tr>
            <td>
                Направление
            </td>
            <td align="center">
                <input type="text" class="form-control vectorx" disabled/>&nbsp;<input type="text" class="form-control vectory" disabled/>
            </td>
            <td><i class="fa fa-unlock spl-icon vlock"></i></td>
        </tr>
        <tr>
            <td>Тип направления</td>
            <td align="center" colspan="2">
                <select class="form-control vtype">
                    <option value="directionLocation">направление</option>
                    <option value="destinationLocation">конечная точка</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Уровень шума
            </td>
            <td align="center">
                <input type="text" class="form-control noise"/><span class="noise-level">&nbsp;</span>
            </td>
            <td>
                <i class="fa fa-refresh spl-icon nlevel"></i>
            </td>
        </tr>
        <tr>
            <td>Высота подвеса</td>
            <td colspan = "2">
                <input type="text" class="form-control height"/>
            </td>
        </tr>
        <tr>
            <td>Громкоговорители</td>
            <td align="center">
                <select class="form-control speakers refresh-list">
                    <option value="">громкоговорители</option>
                </select>
            </td>
            <td>
                <i class="fa fa-refresh spl-icon speakers-list"></i>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="right">
                <i class="fa fa-close cancel"></i>
                <i class="fa fa-check save"></i>
            </td>
        </tr>
    </table>
    <table class="table-bordered table-responsive hide">
        <tr>
            <td>Громкоговорители</td>
            <td colspan = "2" align="center">
                <select class="form-control speakers full-list">
                    <option value="">громкоговорители</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Координаты установки</td>
            <td align="center">
                <input type="text" class="form-control centerx" disabled/>&nbsp;<input type="text" class="form-control centery" disabled/>
            </td>
            <td><i class="fa fa-unlock spl-icon lock"></i></td>
        </tr>
        <tr>
            <td>
                Направление
            </td>
            <td align="center">
                <input type="text" class="form-control vectorx" disabled/>&nbsp;<input type="text" class="form-control vectory" disabled/>
            </td>
            <td><i class="fa fa-unlock spl-icon vlock"></i></td>
        </tr>
        <tr>
            <td>Тип направления</td>
            <td align="center" colspan="2">
                <select class="form-control vtype">
                    <option value="directionLocation">направление</option>
                    <option value="destinationLocation">конечная точка</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Уровень шума
            </td>
            <td align="center">
                <input type="text" class="form-control noise"/><span class="noise-level">&nbsp;</span>
            </td>
            <td>
                <i class="fa fa-refresh spl-icon nlevel"></i>
            </td>
        </tr>
        <tr>
            <td>Высота подвеса</td>
            <td colspan = "2">
                <input type="text" class="form-control height"/>
            </td>
        </tr>
        <tr>
            <td colspan = "3" align="center">
                <button class="btn btn-default show-zone">Отобразить зону</button>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="right">
                <i class="fa fa-close cancel"></i>
                <i class="fa fa-check save"></i>
            </td>
        </tr>
    </table>
</div>
