.spl-login button{
    background: none;
    border:none;
}
.spl-login .login{
    color: #009f00;
}.spl-login .login:hover{
    color: #006a00;
}
.spl-login .logout{
    color: #cb0000;
}.spl-login .logout:hover{
    color: #ae0000;
}
.spl-login i{
    margin:5px 0px 0px 5px;
}