<div class="spl-map-filter">
    <div class="setting-button">
        <i class="fa fa-cogs"></i>
    </div>
    <div class="settings hide">
        <div>
            <input type="text" disabled class="quantity" value="5"/>
        </div>
        <div>
            <button class="btn btn-default layer">Поменять слой</button>
        </div>
        <div>
            <label>Тестовые данные&nbsp;</label><input class="test" type="checkbox"/>
        </div>
    </div>
</div>
