.spl-map-filter{
    height:34px;
    line-height:34px;
    background: #eeeeee;
    height:34px;
    padding:0px 5px;
}
.spl-map-filter .hide{
    display:none;
}
.spl-map-filter .setting-button{
    font-size: 21px;
    height:24px;
    float:left;
}
.spl-map-filter .settings{
    float:left;
}
.settings > div{
    float:left;
    margin-left:5px;
}
.settings .quantity{
    height: 30px;
    line-height: 30px;
}
.settings .layer{
    display:none;
}