.spl-icon{
    cursor:pointer;
    font-size:15px;
}
.spl-icon:hover{
    font-weight:bold;
}
.spl-icon-move{
    position:absolute;
}
.spl-icon-move-up{
    top:0px;
}
.spl-icon-move-down{
    bottom:0px;
}
.spl-icon-move-left{
    left:0px;
}
.spl-icon-move-right{
    right:0px;
}
.spl-icon-close{
    color: #f05903;
}
.spl-icon-close:hover{
    color: #d65a03;
}