<h3 ng-if="!authorized">Страница доступна только авторизованным пользователям.</h3>
<div class="report" ng-if="authorized">
    <div class="main">
        <div class="logo">infostrata.ru</div>
        <div class="number">{{report.id}}</div>
        <div style="clear:both;"></div>
    </div>
    <div class="about">
        <div class="info">
            Адрес:{{report.speakerAddressMaps}}
        </div>
        <div class="code">
            <qr text="qrCodeString" type-number="typeNumber" correction-level="correctionLevel" size="SIZE" input-mode="inputMode" image="image"></qr>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div id="map" style="height:640px;"></div>
    <div class="detail">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Тип
                    </th>
                    <th>
                        Мощность (Вт)
                    </th>
                    <th>
                        Высота установки
                    </th>
                    <th>
                        Угол
                    </th>
                    <th>
                        Уровень шума
                    </th>
                    <th>
                        Азимут
                    </th>
                    <th>
                        Автор
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{report.speakerName}}</td>
                    <td>{{report.speakerPower}}</td>
                    <td>{{report.speakerMountHeight}}</td>
                    <td>{{report.speakerAngleRelVerticalAxis}}</td>
                    <td>{{report.noiseLevel}}</td>
                    <td>{{report.speakerAzimuth}}</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div></div>
</div>
