<div class="mcpopup-header">
    <div class="header-title">
        {{title}}
    </div>
    <div class="header-buttons">
        <div class="button-min">
            <i class="fa fa-minus"></i>
        </div>
        <div class="button-max">
            <i class="fa fa-square-o"></i>
        </div>
        <div class="button-close">
            <i class="fa fa-close"></i>
        </div>
    </div>
</div>
<div class="mcpopup-body">
    {{content}}
</div>
<div class="mcpopup-footer">
    {{footer}}
</div>
