<br/>
<div class="row">
    <div class="col-md-8">
        <form role="form" name="registration">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Регистрация</h3>
                    <span class="small">все поля обязательны для заполнения</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Имя:</label>
                        <input class="form-control" type="text" ng-model="user.firstName" name="firstName" ng-pattern="/([A-Z][A-Za-z-\s]+)|([А-ЯЁ][А-ЯЁа-яё-\s]+)/" required>
                        <div class="app-error" ng-show="(registration.firstName.$invalid && registration.firstName.$dirty) || registration.submitted">
                            <div ng-show="registration.firstName.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="registration.firstName.$error.pattern">
                                Допускаются русские или латинские символы с заглавной буквы.
                            </div>
                            <div ng-show="backend_errors.firstName">
                                {{backend_errors.firstName}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Фамилия:</label>
                        <input class="form-control" type="text" ng-model="user.lastName" name="lastName" ng-pattern="/([A-Z][A-Za-z-\s]+)|([А-ЯЁ][А-ЯЁа-яё-\s]+)/" required>
                        <div class="app-error" ng-show="(registration.lastName.$invalid && registration.lastName.$dirty) || registration.submitted">
                            <div ng-show="registration.lastName.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="registration.lastName.$error.pattern">
                                Допускаются русские или латинские символы с заглавной буквы.
                            </div>
                            <div ng-show="backend_errors.lastName">
                                {{backend_errors.lastName}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Организация:</label>
                        <input class="form-control" type="text" ng-model="user.organisation" name="organisation" required>
                        <div class="app-error" ng-show="(registration.organisation.$invalid && registration.organisation.$dirty) || registration.submitted">
                            <div ng-show="registration.organisation.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="backend_errors.organisation">
                                {{backend_errors.organisation}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>email:</label>
                        <input class="form-control" type="text" ng-model="user.email" name="email" required>
                        <div class="app-error" ng-show="(registration.email.$invalid && registration.email.$dirty) || registration.submitted">
                            <div ng-show="registration.email.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="backend_errors.email">
                                {{backend_errors.email}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>login:</label>
                        <input class="form-control" type="text" ng-model="user.login" name="login" required ng-minlength="4" ng-blur="checkLogin(user.login)">
                        <div class="app-error" ng-show="(registration.login.$invalid && registration.login.$dirty) || registration.submitted">
                            <div ng-show="registration.login.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="registration.login.$error.minlength">
                                Минимальная длинна 4 символа
                            </div>
                            <div ng-show="backend_errors.login">
                                {{backend_errors.login}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Пароль:</label>
                        <input class="form-control" type="password" ng-model="user.password" name="password" required>
                        <div class="app-error" ng-show="(registration.password.$invalid && registration.password.$dirty) || registration.submitted">
                            <div ng-show="registration.password.$error.required">
                                Поле обязательно для заполнения
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Повтор пароля:</label>
                        <input class="form-control" type="password" ng-model="user.passwordrepeat" name="passwordrepeat" required>
                        <div class="app-error" ng-show="(registration.passwordrepeat.$invalid && registration.passwordrepeat.$dirty) || registration.submitted || (user.password != user.passwordrepeat)">
                            <div ng-show="registration.passwordrepeat.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="user.password != user.passwordrepeat">
                                Пароли не совпадают
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="pull-right margin-horizontal">
                            <button type="button" class="btn btn-default">Отчистить</button>
                            <button type="button" class="btn btn-primary" ng-click="registr(user)" ng-disabled="registration.$invalid || loginErr">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Успешная регистрация</h4>
            </div>
            <div class="modal-body">
                Для завершения регистрации подтвердите, пожалуйста, свой e-mail. На указанный Вами e-mail в ближайшее время будет отправлено письмо с информацией
            </div>
        </div>
    </div>
</div>