<br/>
<div class="row">
    <div class="col-lg-10" ng-if="user">
        <table class="table-bordered table-responsive user">
            <tr>
                <td>Имя</td>
                <td>
                    <div ng-if="!edit">{{user.firstName}}</div>
                    <div ng-if="edit">
                        <input ng-model="user.firstName" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td>
                    <div ng-if="!edit">
                        {{user.lastName}}
                    </div>
                    <div ng-if="edit">
                        <input ng-model="user.lastName" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Организация</td>
                <td>
                    <div ng-if="!edit">
                        {{user.organisation}}
                    </div>
                    <div ng-if="edit">
                        <input ng-model="user.organisation" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>
                    <div ng-if="!edit">
                        {{user.email}}
                    </div>
                    <div ng-if="edit">
                        <input ng-model="user.email" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Login</td>
                <td>
                    <div ng-if="!edit">
                        {{user.login}}
                    </div>
                    <div ng-if="edit">
                        <input ng-model="user.login" class="form-control" ng-blur="checkLogin(user.login)"/>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <i class="fa fa-edit edit" ng-click="edit = !edit;"></i>
        <i class="fa fa-save save" ng-show="edit" ng-click="editUser(user)"></i>
        <div class="row">
            <div class="col-lg-7">
                <h3>Изменение пароля</h3>
                <form role="form" name="passwordchange">
                    <div class="form-group">
                        <label>Пароль:</label>
                        <input class="form-control" type="password" ng-model="user.password" name="password" required>
                        <div class="app-error" ng-show="(passwordchange.password.$invalid && passwordchange.password.$dirty) || submitted">
                            <div ng-show="passwordchange.password.$error.required">
                                Поле обязательно для заполнения
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Повтор пароля:</label>
                        <input class="form-control" type="password" ng-model="user.passwordrepeat" name="passwordrepeat" required>
                        <div class="app-error" ng-show="(passwordchange.passwordrepeat.$invalid && passwordchange.passwordrepeat.$dirty) || submitted || (user.password != user.passwordrepeat)">
                            <div ng-show="passwordchange.passwordrepeat.$error.required">
                                Поле обязательно для заполнения
                            </div>
                            <div ng-show="user.password != user.passwordrepeat">
                                Пароли не совпадают
                            </div>
                        </div>
                    </div>
                </form>
                <button class="btn btn-default" ng-click="changePassword(user)">Изменить пароль</button>
            </div>
        </div>
    </div>
    <div class="col-lg-5" ng-if="!user">
        <h4>Для доступа необходима авторизация!</h4>
    </div>
</div>
<!--<br/>-->
<!--<div class="row">-->
    <!--<div class="col-md-8">-->
        <!--<form role="form" name="registration">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Регистрация</h3>-->
                    <!--<span class="small">все поля обязательны для заполнения</span>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div class="form-group">-->
                        <!--<label>Имя:</label>-->
                        <!--<input class="form-control" type="text" ng-model="user.firstName" name="firstName" ng-pattern="/([A-Z][A-Za-z-\s]+)|([А-ЯЁ][А-ЯЁа-яё-\s]+)/" required>-->
                        <!--<div class="app-error" ng-show="(registration.firstName.$invalid && registration.firstName.$dirty) || registration.submitted">-->
                            <!--<div ng-show="registration.firstName.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                            <!--<div ng-show="registration.firstName.$error.pattern">-->
                                <!--Допускаются русские или латинские символы с заглавной буквы.-->
                            <!--</div>-->
                            <!--<div ng-show="backend_errors.firstName">-->
                                <!--{{backend_errors.firstName}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Фамилия:</label>-->
                        <!--<input class="form-control" type="text" ng-model="user.lastName" name="lastName" ng-pattern="/([A-Z][A-Za-z-\s]+)|([А-ЯЁ][А-ЯЁа-яё-\s]+)/" required>-->
                        <!--<div class="app-error" ng-show="(registration.lastName.$invalid && registration.lastName.$dirty) || registration.submitted">-->
                            <!--<div ng-show="registration.lastName.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                            <!--<div ng-show="registration.lastName.$error.pattern">-->
                                <!--Допускаются русские или латинские символы с заглавной буквы.-->
                            <!--</div>-->
                            <!--<div ng-show="backend_errors.lastName">-->
                                <!--{{backend_errors.lastName}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Организация:</label>-->
                        <!--<input class="form-control" type="text" ng-model="user.organisation" name="organisation" required>-->
                        <!--<div class="app-error" ng-show="(registration.organisation.$invalid && registration.organisation.$dirty) || registration.submitted">-->
                            <!--<div ng-show="registration.organisation.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                            <!--<div ng-show="backend_errors.organisation">-->
                                <!--{{backend_errors.organisation}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>email:</label>-->
                        <!--<input class="form-control" type="text" ng-model="user.email" name="email" required>-->
                        <!--<div class="app-error" ng-show="(registration.email.$invalid && registration.email.$dirty) || registration.submitted">-->
                            <!--<div ng-show="registration.email.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                            <!--<div ng-show="backend_errors.email">-->
                                <!--{{backend_errors.email}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>login:</label>-->
                        <!--<input class="form-control" type="text" ng-model="user.login" name="login" required ng-minlength="4">-->
                        <!--<div class="app-error" ng-show="(registration.login.$invalid && registration.login.$dirty) || registration.submitted">-->
                            <!--<div ng-show="registration.login.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                            <!--<div ng-show="registration.login.$error.minlength">-->
                                <!--Минимальная длинна 4 символа-->
                            <!--</div>-->
                            <!--<div ng-show="backend_errors.login">-->
                                <!--{{backend_errors.login}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Пароль:</label>-->
                        <!--<input class="form-control" type="password" ng-model="user.password" name="password" required>-->
                        <!--<div class="app-error" ng-show="(registration.password.$invalid && registration.password.$dirty) || registration.submitted">-->
                            <!--<div ng-show="registration.password.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Повтор пароля:</label>-->
                        <!--<input class="form-control" type="password" ng-model="user.passwordrepeat" name="passwordrepeat" required>-->
                        <!--<div class="app-error" ng-show="(registration.passwordrepeat.$invalid && registration.passwordrepeat.$dirty) || registration.submitted || (user.password != user.passwordrepeat)">-->
                            <!--<div ng-show="registration.passwordrepeat.$error.required">-->
                                <!--Поле обязательно для заполнения-->
                            <!--</div>-->
                            <!--<div ng-show="user.password != user.passwordrepeat">-->
                                <!--Пароли не совпадают-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--<div class="row">-->
                        <!--<div class="pull-right margin-horizontal">-->
                            <!--<button type="button" class="btn btn-default">Отчистить</button>-->
                            <!--<button type="button" class="btn btn-primary" ng-click="registr(user)" ng-disabled="registration.$invalid">Зарегистрироваться</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->