<div class="row spl-app-container">
    <div class="col-md-12 spl-map-container">
        <div id="spl-map" class="spl-map"></div>
    </div>
    <!--<div class="col-md-4 spl-info-container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<ul class="list-group" ng-if="about.length>0">-->
                    <!--<li class="list-group-item spl-info" ng-repeat="splZone in about">-->
                        <!--<div class="panel panel-default">-->
                            <!--<div class="panel-heading spl-info-header">-->
                                <!--<div>-->
                                    <!--<label>Громкоговоритель:</label><span>{{splZone.speakerLocationId}} {{splZone.name}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel-body spl-info-content">-->
                                <!--<div class="row list-group-item">-->
                                    <!--<div class="col-md-4">-->
                                        <!--Адрес:-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8">-->
                                        <!--{{splZone.address}}<span ng-if="splZone.coordinates">{{splZone.coordinates}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row list-group-item">-->
                                    <!--<div class="col-md-4">-->
                                        <!--Высота подвеса:-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8">-->
                                        <!--{{splZone.mountHeight}}-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row list-group-item">-->
                                    <!--<div class="col-md-4">-->
                                        <!--Азимут:-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8">-->
                                        <!--{{splZone.azimuth}}-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row list-group-item">-->
                                    <!--<div class="col-md-4">-->
                                        <!--Уровень шума:-->
                                    <!--</div>-->
                                    <!--<div class="col-md-8">-->
                                        <!--{{splZone.noiseLevel}}-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<span class="fa fa-times spl-icon spl-icon-close spl-icon-move spl-icon-move-right spl-icon-move-up" ng-click="removeSPLZInfo(splZone)"></span>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>