<div class="spl-info">
    <table class="table-responsive table-bordered">
        <tbody>
            <tr>
                <td>Адрес</td>
                <td>{{address}}</td>
            </tr>
            <tr>
                <td>Координаты</td>
                <td>{{coordinates}}</td>
            </tr>
            <tr>
                <td>Высота подвеса</td>
                <td>{{mountHeight}}</td>
            </tr>
            <tr>
                <td>Азимут</td>
                <td>{{azimuth}}</td>
            </tr>
            <tr>
                <td>Уровень шума</td>
                <td>{{noiseLevel}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center" class="">
                    <button class="btn btn-default make-report" style="margin-right:5px;">Составить отчет</button>
                    <button class="btn btn-danger remove">Удалить</button>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" class="admin-action hide">
                    <button class="btn btn-default hide confirm">Подтвердить</button>
                    <div class="hide comments">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

