<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="menuCtrl">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="navbar-collapse collapse pull-left">

            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="index">Громкоговорители</a>
                </li>
                <li>
                    <a ui-sref="other">Other</a>
                </li>
                <li>
                    <a href="#">О системе</a>
                </li>
            </ul>
        </div>
        <div class="spl-login pull-right margin-vertical">

            <div class="pull-left" ng-show="authorized">
                <a ui-sref="user">{{authorized.firstName}} {{authorized.lastName}}</a>
            </div>
            <form name="loginForm" class="pull-left" ng-submit="authorize(login)" novalidate>
                <input type="text" ng-show="!authorized" name="login" placeholder="Логин" ng-model="login.login" required>
                <input type="password" ng-show="!authorized" name="password" placeholder="Пароль" ng-model="login.password" required>
                <button type="submit" class="fa fa-power-off spl-icon" ng-class="{true:'login',false:'logout'}[authorized === false]"></button>
            </form>

        </div>
    </div>
</nav>