<div class="spl-map-filter">
    <div class="setting-button">
        <i class="fa fa-cogs"></i>
    </div>
    <div class="settings hide">
        <div>
            <input type="text" disabled class="quantity" value="5"/>
        </div>
        <div>
            <button class="btn btn-default layer">Поменять слой</button>
        </div>
        <div>
            <label>Тестовые данные&nbsp;</label><input class="test" type="checkbox"/>
        </div>
    </div>
    <!--<div class="col-md-2">-->
        <!--<input type="text" class="form-control" ng-model="limit" ng-change="setLimit(limit)"/>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<button class="btn btn-default" ng-click="setMapLayer()">Поменять слой</button>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
        <!--<label>Тестовые данные&nbsp;</label><input type="checkbox" ng-model="test" ng-change="setTest(test)"/>-->
    <!--</div>-->
</div>
