<div class="spl-info">
    <ul class="list-group">
        <li class="list-group-item">
            <label>Адрес:</label>{{address}} {{coordinates}}
        </li>
        <li class="list-group-item">
            <label>Высота подвеса:</label>{{mountHeight}}
        </li>
        <li class="list-group-item">
            <label>Азимут:</label>{{azimuth}}
        </li>
        <li class="list-group-item">
            <label>Уровень шума:</label>{{noiseLevel}}
        </li>
    </ul>
</div>