.spl-map-editor{
    line-height:34px;
    background: #eeeeee;
    height:40px;
    padding:0px 5px;
}
.spl-map-editor .hide{
    display:none;
}
.spl-map-editor .setting-button{
    font-size: 21px;
    height:24px;
    float:left;
}
.spl-map-editor .settings{
    float:left;
    padding-left:10px;
    padding-right:11px;
}
.spl-map-editor .settings > div{
    float:left;
    margin-left:5px;
}
.spl-map-editor .addtype{
    padding-left:20px;
    padding-top:5px;
    width:400px;
}
.spl-map-editor .addtype .type{
    line-height: 20px;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px 5px 9px 5px;
}

.map-editor-add{
    background: #fff;
}
.map-editor-add .cancel{
    color: #c60000;
    font-size:20pt;
}
.map-editor-add .save{
    color: #00be00;
    font-size:20pt;
}
.map-editor-add td{
    padding: 3px 5px;
}
.map-editor-add input{
    float:left;
    width:100px;
    margin-left:5px;
    height:25px;
    line-height: 25px;
}
.is-present-f{
    border:1px solid #d10000;
}
.noise-level.is-present-f{
    border:none;
}
.noise-level.is-present-t{
    border:none;
}
span.is-present-f:after{
    content:'автоматическое значение';
    color:#d10000;
    font-size: 60%; /* Размер шрифта */
    padding: 2px; /* Поля вокруг текста */
  }

.is-present-t{
    border:1px solid #00d100;
}
span.is-present-t:after{
    font-size: 60%; /* Размер шрифта */
    color:#00d100;
    padding: 2px; /* Поля вокруг текста */
    content:'рекомендованное значение';
}