.spl-info{
    background: #fff;
}
.spl-info td{
    padding: 3px 5px;
}
.send-error{
    color: #d82b09;
    font-size: 15pt;
    cursor: pointer;
}
.error-block{
    display:none;
}
.display{
    display:block!important;
}
.error-block textarea{
    width:90%;
}
.error-block .send{
    cursor: pointer;
    position: relative;
    top:-15px;
    font-size: 15pt;
    color: #3510bb;
}
.spl-info .cancel{
    color: #c60000;
    font-size:20pt;
}
.spl-info .save{
    color: #00be00;
    font-size:20pt;
}