@import "css/map/map.css";
@import "css/info/info.css";
@import "css/icons/icons.css";
@import "css/settings/settings.css";
@import "css/common/common.css";
@import "css/login/login.css";
@import "css/user/user.css";
@import "css/editor/editor.css";
html{
    height:100%;
}
body{
    height:100%;
    font-family:'Open Sans';
}
.spl-app{
    height:100%;
    padding-top:50px;
}
.spl-app .spl-app-container{
    height:100%;
}

.padding-horizontal{
    padding:0px 10px;
}
.padding-vertical{
    padding:10px 0px;
}

.margin-horizontal{
    margin:0px 10px;
}
.margin-vertical{
    margin:10px 0px;
}