@media screen{
    .report{
        font-size:20pt;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .report .logo {
        font-size: 25pt;
    }
    .report .main{
        line-height: 25pt;
    }
    .detail , .info{
        font-size:10pt;
    }
}
@media print{
    .report{
        font-size:1.9em;
    }
    .report .logo {
        font-size: 2.9em ;
    }
    .report{
        margin-top:-2em!important;
    }
    .report .main{
        line-height: 2.9em;
    }
    .detail , .info{
        font-size:0.6em;
    }
    .info{
        font-weight: normal!important;
    }
}
@media print , screen {
    .circle_layout{
        font-family:'Open Sans';
        background-color: #FFF!important;
    }
    .main{
        padding-bottom: 20px!important;
    }
    .report{
        width:1024px;
        margin:0px auto;
    }
    #map{
        margin-top:20px;
        clear: both;
        height:640px;
        margin-bottom:40px;

    }

    .report .logo{
        display:inline-block;
        float:left;
    }
    .report .number{
        display:inline-block;
        float:right;
        text-align: right;
    }
    .about{
        clear: both;
        /*margin-top:-20px;*/
        position:relative;
    }
    .report .info{
        display:inline-block;
        position:absolute;
        float:left;
        bottom: -8px;
        left:0px;
    }
    .report .code{
        text-align: right;
        display:inline-block;
        float:right;
    }
    .detail table{
        width:100%;
    }
    .detail th{
        border-bottom: 0px!important;
    }
    .detail td{
        padding:0px;
    }

}
.placemark_layout_container {
    position: relative;
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.circle_layout {
    background-color: white;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #225D9C;
    color: #225D9C;
    line-height: 20px;
    /* Это CSS свойство не будет работать в Internet Explorer 8 */
    border-radius: 20px;
}