<div class="spl-info">
    <table class="table-responsive table-bordered">
        <tbody>
        <tr>
            <td>Адрес</td>
            <td>{{address}}</td>
        </tr>
        <tr>
            <td>Координаты</td>
            <td>{{coordinates}}</td>
        </tr>
        <tr>
            <td>Высота подвеса</td>
            <td>{{mountHeight}}</td>
        </tr>
        <tr>
            <td>Азимут</td>
            <td>{{azimuth}}</td>
        </tr>
        <tr>
            <td>Уровень шума</td>
            <td>{{noiseLevel}}</td>
        </tr>
        </tbody>
    </table>
</div>


<!--<ul class="list-group">-->
<!--<li class="list-group-item">-->
<!--<label>Адрес:</label>{{address}}-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<label>Координаты:</label>{{coordinates}}-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<label>Высота подвеса:</label>{{mountHeight}}-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<label>Азимут:</label>{{azimuth}}-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<label>Уровень шума:</label>{{noiseLevel}}-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--<label>Сообщить об ошибке:</label><i class="fa fa-bullhorn send-error"></i>-->
<!--<div class="error-block">-->
<!--<textarea></textarea>-->
<!--<i class="fa fa-send send"></i>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->