.mcpopup{
    position:absolute;
}
.mcpopup .mcpopup-footer{
    background:#e2e2e2;
    height: 10px;
}
.mcpopup .mcpopup-header{
    width: 100%;
    height: 25px;
    background:#e2e2e2;
}
.mcpopup-header .header-title{
    float:left;
    height:25px;
    line-height:25px;
    margin-left:10px;
    font-size: 17px;
    bottom:5px;
}
.mcpopup-header .header-buttons{
    float:right;
    margin-right:5px;
    height:25px;
    line-height: 25px;
}
.header-buttons > div{
    float:left;
    margin-left:5px;
    font-size:15px;
    cursor:pointer;
}
.header-buttons .button-min{
    margin-top:5px;
}
.header-buttons .button-max{
    margin-top:1px;
}
.header-buttons .button-close{
    font-size: 16px;
    color: #e60000;
}
.mcpopup .mcpopup-body{
    /*background: #eeeeee;*/
    /*padding:5px;*/
}
.hide{
    visibility:hidden;
}